[submodule "email-wallet-extensions-sdk"]
	path = email-wallet-extensions-sdk
	url = https://github.com/zkemail/email-wallet-sdk.git
[submodule "email-wallet"]
	path = email-wallet
	url = https://github.com/zkemail/email-wallet.git
[submodule "zk-regex"]
	path = zk-regex
	url = https://github.com/zkemail/zk-regex.git
[submodule "zk-email-verifier"]
	path = zk-email-verifier
	url = https://github.com/zkemail/zk-email-verify.git
